<html>
<head>
  <title>Anuario TEC</title>
  <link rel="stylesheet" type="text/css" href="https://jclizarraga.com/style.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <img class="wave" src="https://jclizarraga.com/img/ola.png">
  <div class="container">
    <div class="img">
    <img src="https://enlinea.tecmm.mx/moodle/pluginfile.php/94635/course/overviewfiles/tec.png">
    <h3>Desarrollador: JCLizarraga (ityoup)</h3>
    </div>
    <div class="login-content">
      <form action="/loginCredenciales" method="post">
        <img style="border-radius: 80px; border: solid; height: 7em;" src="https://jclizarraga.com/img/perfil.png">
        <h2 class="title">Bienvenido</h2>
              <div class="input-div one">
                 <div class="i">
                    <i class="fas fa-user"></i>
                 </div>
                 <div class="div">
                    <h5>Usuario</h5>
                    <input type="text" class="input" name="user">
                 </div>
              </div>
              <div class="input-div pass">
                 <div class="i"> 
                    <i class="fas fa-lock"></i>
                 </div>
                 <div class="div">
                    <h5>Contraseña</h5>
                    <input type="password" class="input" name="contra">
                 </div>
              </div>
              <a href="">Alumnos</a>
              <input type="submit" value="Aceptar" class="btn btn-primary">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="https://jclizarraga.com/script.js"></script>
</body>
</html>