<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/registerCredenciales" method="post">
        <h2 class="title">Bienvenido</h2>
                    <h5>Usuario</h5>
                    <input type="text" class="input" name="user">
                    <h5>Contraseña</h5>
                    <input type="password" class="input" name="password">
              <input type="submit" value="Aceptar" class="btn btn-primary">
            </form>
</body>
</html>