<!DOCTYPE html>
<html lang="en">
<head>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f2f2f2;
        }
        
        .container {
            
            position: relative;
            width: 400px;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .title {
            text-align: center;
            margin-bottom: 20px;
            font-family: Arial, sans-serif;
            color: #333333;
            font-size: 20px;
        }
        
        .input {
            
        }
        
        .btn{
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #5c0000, #777777, #5c0000);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: .5s;
}
.btn:hover{
  background-position: right;
}
        
        .image {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    </style>
</head>
<body>
    <div class="container animate__animated animate__fadeInUp">
        <img class="image" src="https://em-content.zobj.net/thumbs/160/apple/81/shark_1f988.png" alt="Shark">
        <form style="display: grid; justify-content: center;" action="/registerCredenciales" method="post">
            <h2 class="title">Bienvenido</h2>
            <h5 class="title" style="font-size: 14px; font-family: 'Poppins', sans-serif;">Usuario</h5>
            <input type="text" class="form-control" name="user">
            <br>
            <h5 class="title" style="font-size: 14px; font-family: 'Poppins', sans-serif;">Contraseña</h5>
            <input type="password" class="form-control" name="password">
            <input type="submit" value="Aceptar" class="btn">
        </form>
    </div>
</body>
</html>
